body {
  background-image: url("images/table.png");
  background-size: cover;
  background-repeat: repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "sans-serif";
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  color: rgb(245, 206, 108);
  font-size: 72px;
  text-align: center;
}

#message-el {
  color: white;
  text-align: center;
  font-size: 36px;
}

#start-btn {
  background: goldenrod;
  color: #016f32;
  width: 300px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

#new-btn {
  background: goldenrod;
  color: #016f32;
  width: 300px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
